<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgj.mps.dao.mapper.DownloadMapper">
    <resultMap id="BaseResultMap" type="com.zgj.mps.bean.DownloadBean">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="size" jdbcType="SMALLINT" property="size"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
        <result column="finishTime" jdbcType="TIMESTAMP" property="finishTime"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="resource_id" jdbcType="VARCHAR" property="resourceId"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="resourceName" jdbcType="VARCHAR" property="resourceName"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="resourceProImg" jdbcType="VARCHAR" property="resourceProImg"/>
    </resultMap>
    <resultMap id="StatusResultMap" type="com.zgj.mps.bean.DownStatusBean">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
        <result column="finishTime" jdbcType="TIMESTAMP" property="finishTime"/>
        <result column="resourceName" jdbcType="VARCHAR" property="resourceName"/>
        <result column="resource_id" jdbcType="VARCHAR" property="resourceId"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="size" jdbcType="SMALLINT" property="size"/>
    </resultMap>
    <resultMap id="DownResourceResultMap" type="com.zgj.mps.bean.DownResourceBean">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="resourceName" jdbcType="VARCHAR" property="resourceName"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <select id="pageDownload" parameterType="com.zgj.mps.bean.DownloadBean" resultMap="BaseResultMap">
        SELECT d.id,d.status,d.create_time,d.finish_time,d.user_id,d.resource_id,t.account,t.name,t.avatar,r.name as resourceName,r.pro_img,r.size
        from download d,user t,resource r
        where d.user_id=t.id and d.resource_id=r.id
        and d.is_delte=0 and r.is_delete=0
        <if test="downloadBean.resourceName!=null and downloadBean.resourceName!=''">
            and r.name like CONCAT('%',#{downloadBean.resourceName},'%')
        </if>
        <if test="downloadBean.account!=null and downloadBean.account!=''">
            and t.account like CONCAT('%',#{downloadBean.account},'%')
        </if>
        <if test="downloadBean.name!=null and downloadBean.name!=''">
            and t.name like CONCAT('%',#{downloadBean.name},'%')
        </if>
        resourceOrder by d.create_time desc
    </select>
    <select id="downProcessByDevictType" parameterType="java.lang.String" resultMap="StatusResultMap">
        SELECT dw.*,r.name as resourceName from download dw,resource r,device_resource dr ,device d,device_type dt
        where dw.resource_id=r.id
        and r.id = dr.resource_id
        and dr.device_id=d.id
        and d.device_type_id=dt.id
        and dw.is_delte=0
        and r.is_delete=0
        and dt.`name`=#{type};
    </select>
    <select id="userDownList" parameterType="java.lang.String" resultMap="DownResourceResultMap">
        SELECT t.id,t.status, r.name as resourceName,r.url FROM download t LEFT JOIN resource r on t.resource_id=r.id
        and t.user_id=#{userId}
        and t.device_id=#{deviceId}
    </select>
</mapper>