<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgj.mps.dao.mapper.RateMapper">
    <resultMap id="BaseResultMap" type="com.zgj.mps.bean.RateBean">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="mark" jdbcType="BIGINT" property="mark"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
        <result column="publisher_mame" jdbcType="VARCHAR" property="publisherName"/>
        <result column="isNick" jdbcType="SMALLINT" property="isNick"/>
        <result column="is_delete" jdbcType="SMALLINT" property="isDelete"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="resource_id" jdbcType="VARCHAR" property="resourceId"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="resourceName" jdbcType="VARCHAR" property="resourceName"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pro_img" jdbcType="VARCHAR" property="proImg"/>
    </resultMap>
    <resultMap id="rateStasticResultMap" type="com.zgj.mps.bean.RateStasticBean">
        <result column="resource_id" jdbcType="VARCHAR" property="resourceId"/>
        <result column="resourceName" jdbcType="VARCHAR" property="resourceName"/>
        <result column="avgMark" jdbcType="BIGINT" property="avgMark"/>
        <result column="pro_img" jdbcType="VARCHAR" property="proImg"/>
        <result column="rateCount" jdbcType="INTEGER" property="rateCount"/>
    </resultMap>
    <select id="pageRate" parameterType="com.zgj.mps.bean.RateBean" resultMap="BaseResultMap">
        SELECT r.*,u.account,u.name,u.avatar,t1.name as resourceName,t1.pro_img
        from rate r,user u,resource t1
        where r.user_id=u.id and r.resource_id=t1.id
        <if test="rateBean.resourceName!=null and rateBean.resourceName!=''">
            and t1.name like CONCAT('%',#{rateBean.resourceName},'%')
        </if>
        <if test="rateBean.account!=null and rateBean.account!=''">
            and u.account like CONCAT('%',#{rateBean.account},'%')
        </if>
        <if test="rateBean.name!=null and rateBean.name!=''">
            and u.name like CONCAT('%',#{rateBean.name},'%')
        </if>
        <if test="rateBean.resourceId!=null and rateBean.resourceId!=''">
            and r.resource_id =#{rateBean.resourceId}
        </if>
        resourceOrder by r.create_time desc
    </select>
    <select id="pageRateStastic" parameterType="com.zgj.mps.bean.RateBean"
            resultMap="rateStasticResultMap">
         SELECT r.resource_id,avg(r.mark) as avgMark,t1.name as resourceName,t1.pro_img,count(r.resource_id) as rateCount
        from rate r,user u,resource t1
        where r.user_id=u.id and r.resource_id=t1.id
        <if test="rateBean.resourceName!=null and rateBean.resourceName!=''">
            and t1.name like CONCAT('%',#{rateBean.resourceName},'%')
        </if>
        group by r.resource_id
        resourceOrder BY avgMark desc
    </select>
</mapper>