<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgj.mps.dao.mapper.TypeResourceMapper">
    <resultMap id="deviceResourceResultMap" type="com.zgj.mps.bean.TypeResourceBean">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="type_id" jdbcType="VARCHAR" property="typeId"/>
        <result column="resource_id" jdbcType="VARCHAR" property="resourceId"/>
        <result column="is_delete" jdbcType="VARCHAR" property="isDelete"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="pro_img" jdbcType="VARCHAR" property="proImg"/>
        <result column="pro_video" jdbcType="VARCHAR" property="proVideo"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.zgj.mps.bean.ResourceNoUrlBean">
        <result column="resource_id" jdbcType="VARCHAR" property="resourceId"/>
        <result column="resourceName" jdbcType="VARCHAR" property="resourceName"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="pro_img" jdbcType="VARCHAR" property="proImg"/>
        <result column="pro_video" jdbcType="VARCHAR" property="proVideo"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="lab_id" jdbcType="VARCHAR" property="labId"/>
    </resultMap>
    <insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="false">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            insert into type_resource(id,type_id,resource_id,is_delete,create_time,create_by) values
            (#{item.id},#{item.typeId},#{item.resourceId},#{item.isDelete},#{item.createTime},#{item.createBy})
        </foreach>
    </insert>
    <select id="typeResourceByDid" parameterType="java.lang.String" resultMap="deviceResourceResultMap">
        SELECT tr.id,tr.type_id,tr.resource_id,r.name,
        r.title,
        r.url,
        r.pro_img,
        r.pro_video,
        r.content,
        r.is_delete
         FROM type_resource tr,resource r where tr.resource_id=r.id
        and tr.type_id=#{id}
        and tr.is_delete=0
        and r.is_delete=0;
    </select>
    <select id="typeResourceById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT tr.resource_id,r.name as resourceName,
        r.title,
        r.pro_img,
        r.pro_video,
        r.content,
        r.lab_id
         FROM type_resource tr,resource r where tr.resource_id=r.id
        and tr.type_id=#{id}
        and tr.is_delete=0
        and r.is_delete=0;
    </select>
</mapper>